

form {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  .field {
    margin-top: 3px;
    margin-bottom: 5px;
  }
  label {
    width: 125px;
    display: inline-block;
    font-size: 16px;

  }

  .submit-btn {
    font-size: 16px;
  }




}